* {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


#presentation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px;
    background-color: #f0f0f0;
  }
  
  .presentation-content {
    max-width: 1200px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .bio-image-container {
    flex: 0 1 auto; 
    margin-right: 20px; 
  }
  
  .bio-image {
    width: 100%;
    max-width: 200px; 
    height: auto;
    border-radius: 50%;
    object-fit: cover; 
  }

  .bio {
    flex: 1;
    padding-right: 50px;
  }
  
  .bio h2 {
    color: #000000;
    margin-bottom: 15px;
    text-align: center;
  }
  
  .bio p {
    color: #000000;
    line-height: 1.5;
    font-size: 100%;
  }
  
  .cv-download button {
    padding: 10px 25px;
    background-color: #0056b3;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s;
  }
  
  .cv-download button:hover {
    background-color: #003d82;
  }
  

 
  @media (max-width: 768px) {
    .presentation-content {
      flex-direction: column;
    }
  
    .bio {
      padding-right: 0;
      padding-bottom: 20px;
    }
  
    .cv-download {
      width: 100%;
      text-align: center;
    }

    .presentation-content {
        flex-direction: column;
      }
    
      .bio-image-container {
        margin-right: 0;
        margin-bottom: 20px;
      }
    
      .bio-image {
        max-width: 150px;
        margin: 0 auto; 
      }

  }
  